<!DOCTYPE html>
<html lang="en">

   {{template "head" .}}


    <body style="{{template "bodyStyle" .}}">
            <hgroup>
                <h1>{{.Context.AppName}}</h1>
                <p>{{.Context.PageTitle}} - {{.User.Name}}</p>
            </hgroup>
    
            <article>
                <hgroup>
                    <h2>Profile:</h2>
                </hgroup>
                <form>
                <label>ID<input name="id" type="text" value="{{.User.ID}}" readonly/></label>
                <label>Name<input name="name" type="text" value="{{.User.Name}}" readonly/></label>

                <label>Date of Birth<input name="dob" type="text" value="{{.DateOfBirth}}" readonly/></label>
                <label>Age<input name="age" type="text" value="{{.Age}}" readonly/></label>

                <label>Height<input name="height" type="text" value="{{.Height}}" readonly/></label>
                <label>Weight<input name="weight" type="text" value="{{.CurrentWeight}}" readonly/></label>

    

                <label>BMI<fieldset class="grid">
                <input name="bmi" type="text" value="{{.BMI}}" readonly/>
                <input name="bmiNote" type="text" value="{{.BMINote}}" readonly/>
                <input name="bmiStatus" type="text" value="{{.BMIStatus}}" readonly/>
 
                
                </fieldset></label>
                <label>Average Weight Loss<input name="averageWeightLoss" type="text" value="{{.AverageWeightLoss}}" readonly/></label>
                <label>Total Weight Loss<input name="totalWeightLoss" type="text" value="{{.TotalWeightLoss}}" readonly/></label>
              

         
         

                </form>

                <details name="Weight">
                <summary><h2>Weights&nbsp;<small class="pico-color-grey-500">[{{len .Measurements}}]</small></h2></summary>
                    <table>
                        <thead>
                            <tr>
                                <th class="text-align: center;">Date</th>
                                <th class="text-align: center;">Weight</th>
                                <th class="text-align: center;">BMI</th>
                                <th class="text-align: center;">Loss</th>
                                <th class="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Measurements}}
                            <tr>
                                <td>{{.RecordedAt.Format "02 Jan 2006"}}</td>
                                <td>{{.Weight.String}}</td>
                                <td>{{.BMI.Glyph}} {{.BMI.String}}</td>
                                <td>{{if .LossSinceLastMeasurement}}{{.LossSinceLastMeasurement.String}}{{else}}N/A{{end}}</td>
                                <td>    
                                    {{/* <div role="group" style="display: flex; justify-content: center; align-items: center; border-radius: 100px;"> */}}
                                    <div role="group">

                                    {{if .Actions}}
                                    {{range .Actions.Actions}}
                                        <a href="{{.FormAction}}" role="button" class="outline" onclick='{{.OnClick}}' FormAction="{{.FormAction}}" method="{{.Method}}">{{if .Icon}}{{.Icon}}{{end}}</a>
                                    {{end}}
                                    {{else}}
                                        <span class="nes-text is-disabled">No actions available</span>
                                    {{end}}
                                    </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </details>


                <details name="Goals">
                <summary><h2>Goals&nbsp;<small class="pico-color-grey-500">[{{.NoGoals}}]</small></h2></summary>
                {{if eq .NoGoals 0}}
                    <p class="nes-text is-error">No goals set for this user.</p>
                {{else}}
                    <table>
                        <thead>
                            <tr>
                                <th class="text-align: center;">Name</th>
                                <th class="text-align: center;">Target</th>
       
                                <th class="text-align: center;">BMI</th>
                                <th class="text-align: center;">Loss Per Week</th>
                                <th class="text-align: center;">Date</th>
                                <th class="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Goals}}
                            <tr>
                                <td>{{.Name}}</td>
                                <td>{{.TargetWeight}}</td>
                                       <td>{{.TargetBMIStatus}} {{.TargetBMI}}</td>
                                <td>{{.LossPerWeek}}</td>
                         
                                <td>{{.TargetDate.Format "02 Jan 2006"}}</td>
                                <td>
                                        {{/* <div role="group" style="display: flex; justify-content: center; align-items: center; border-radius: 100px;"> */}}
                                        <div role="group">
                                        {{if .Actions}}
                                        {{range .Actions.Actions}}
                                            <a href="{{.FormAction}}" role="button" style="" class="outline" onclick='{{.OnClick}}' FormAction="{{.FormAction}}" method="{{.Method}}" >{{if .Icon}}{{.Icon}}{{end}}</a>
                                        {{end}}
                                        {{else}}
                                            <span class="nes-text is-disabled">No actions available</span>
                                        {{end}}
                                        </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                {{end}}
                </details>                
            </article>
        {{template "chart" .}}
        {{template "alerts" .}}
        {{template "pageactions" .}}
    </body>
   {{template "footer" .}}
    {{template "scripts" .}}
</html>