<!DOCTYPE html>
<html lang="en">

   {{template "head" .}}


    <body>
            <form action="/goal/{{.Goal.ID}}" method="POST" id="userForm" class="form">
                {{template "handleform" .}}

            {{template "breadcrumbs" .}}
            <article>
                <hgroup>
                    <h2>Goal Information:</h2>
                </hgroup>
                    
{{/* 
Name              string          `storm:"unique"` // Name of the goal
	TargetWeight      measures.Weight // Target weight in kilograms
	TargetBMI         measures.BMI    // Target BMI
	TargetDate        time.Time       // Target date for achieving the goal
	LossPerWeek       measures.Weight // Desired weight loss per week in kilograms
	Note              string
	CompositeID       string        // Composite ID for unique identification of the goal
	NoProjections     int           // Projection Period in weeks, used for calculating the target date based on the current weight and loss per week
	AverageWeightLoss dao.StormBool // Type of goal, e.g., user-defined or average weight loss goal
            
                    */}}

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="{{.Goal.Name}}" required>
                </div>  
                <div class="form-group">
                    <label for="targetWeight">Target Weight (kg):</label>
                    <input type="number" id="targetWeight" name="targetWeight" value="{{.Goal.TargetWeight.KGs}}" step="0.1" required>
                </div>

                <div class='form-group'>
                    <input type="text" id="bmiUserId" value="{{.UserID}}" hidden/>
                    <label for="bmiValue">BMI: <span id="bmiGlyph" style="padding-left: 10px;">{{.Goal.TargetBMI.Glyph}}</span></label>
                    <input type="number" id="bmiValue" name="bmiValue" value="{{.Goal.TargetBMI.BMI}}" step="0.5">
                    <input class='enrichment' type="text" id="bmiEnrichment" name="bmiEnrichment" value="{{.Goal.TargetBMI.Description}}"  readonly>
                </div>
                 <div class="form-group">
                    <label for="targetDate">Target Date:</label>
                    <input type="date" id="targetDate" name="targetDate" value='{{.Goal.TargetDate.Format "2006-01-02"}}' required>
                </div>
                <div class="form-group">
                    <label for="lossPerWeek">Desired Weight Loss per Week (kg):</label>
                    <input type="number" id="lossPerWeek" name="lossPerWeek" value="{{.Goal.LossPerWeek.KGs}}" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="note">Note:</label>
                    <textarea id="note" name="note">{{.Goal.Note}}</textarea>
                </div>
                <div class="form-group">
                    <label for="noProjections">Projection Period (weeks):</label>
                    <input type="number" id="noProjections" name="noProjections" value="{{.Goal.NoProjections}}" required>
                </div>
                <div class="form-group">
                    <label for="averageWeightLoss">Average Weight Loss Goal: {{.Goal.AverageWeightLoss.State}}</label>
                    <input type="checkbox" role="switch" id="averageWeightLoss" name="averageWeightLoss" {{if eq .Goal.AverageWeightLoss.State "true"}}checked{{end}}>               
                </div>
          
            </article>
        {{template "chart" .}}
        {{template "alerts" .}}
        {{template "actions" .Context.PageActions}}
        </form>
    </body>
   {{template "footer" .}}
    {{template "scripts" .}}
    <script src="/my.js/bmi_enrichment.js" defer></script>
</html>