<!DOCTYPE html>
<html lang="en">
   {{template "head" .}}

    <body style="{{template "bodyStyle" .}}">
            <hgroup>
                <h1>Welcome to the {{.Context.AppName}} Launcher</h1>
                <p>{{.Context.AppName}}</p>
            </hgroup>
            <article>
                <p>{{.Context.AppDescription}}</p>

                <p>Click below to start {{.Context.AppName}}.</p>
            </article>
    {{template "errors" .}}
        {{template "messages" .}}
        {{template "alerts" .}}
            {{template "pageactions" .}}
    </body>


    {{template "footer" .}}
    {{template "scripts" .}}
</html>