<!DOCTYPE html>
<html lang="en">
   {{template "head" .}}
    <body style="{{template "bodyStyle" .}}">
            <hgroup>
                <p>Welcome to the <i>{{.Context.AppName}}</i> Launcher Page</p>
            </hgroup>
            {{template "breadcrumbs" .}}
            <article>
                <p>{{.Context.AppDescription}}</p>
                <p>Click below to start {{.Context.AppName}}.</p>
            </article>
        {{template "alerts" .}}
        {{template "actions" .Context.PageActions}}
    </body>
    {{template "footer" .}}
    {{template "scripts" .}}
</html>