<!DOCTYPE html>
<html lang="en">

   {{template "head" .}}


    <body style="{{template "bodyStyle" .}}">
            <hgroup>
                <h1>{{.Context.AppName}}</h1>
                <p>{{.Context.PageTitle}} - {{.User.Name}}</p>
            </hgroup>
    
            <article>
                <p class="title nes-text is-primary">{{.Context.PageTitle}} - {{.User.Name}}</p>
                <br>
                {{/* {{range .Users}}
                <a href="/profile/{{.ID}}" class="nes-btn" style="width: 100%;">{{.Name}}&nbsp;<small
                        class="nes-text is-disabled">{{.ID}}</small></a>
                <br><br>
                {{end}} */}}
                This is the profile page for {{.User.Name}}. <small class="nes-text is-disabled">[{{.User.ID}}]</small>
                <br><br>
                There is where we will display the user's information, such as: BMI, Weight, Goals, and other relevant data.
                <br><br>
                <br>
                <br>
                An overview of the users Goals, their current weight, and their progress towards their goals.
                
            </article>
            {{template "pageactions" .}}
    
    </body>
   {{template "footer" .}}
    {{template "scripts" .}}
</html>