<!DOCTYPE html>
<html lang="en">
   {{template "head" .}}
    <body>
        <form>
            {{template "handleform" .}}
            {{template "breadcrumbs" .}}

            <article>  
                <aside>
                    <nav>
                    <ul style="list-style: none; padding: 0; margin: 0; margin-bottom: 0px;">
                    {{range .Users}}
                    <li>
                        {{if .Actions}}
                            {{template "actions" .Actions}}
                        {{end}}
                    </li>
                    {{end}}
                    </ul>
                    </nav>
                </aside>
            </article>


        {{template "chart" .}}
        {{template "alerts" .}}
        {{template "actions" .Context.PageActions}}
        </form>
    </body>
   {{template "footer" .}}
    {{template "scripts" .}}
</html>