<!DOCTYPE html>
<html lang="en">
   {{template "head" .}}
    <body style="{{template "bodyStyle" .}}">
            <hgroup>
                <h1>{{.Context.AppName}}</h1>
                <p>{{.Context.PageTitle}}</p>
            </hgroup>

            <article>
          
                <aside>
                    <nav>
                    <ul>
                    {{range .Users}}
                        {{if .Actions}}
                           {{range .Actions.Actions}}
                                <li><a href="{{.FormAction}}" role="button" style="width: 100%;" class="outline">{{.Icon}} {{.Name}}</a></li>
                            {{end}}
                        {{end}}
                    {{end}}
                    </ul>
                    </nav>
                </aside>
            </article>


        {{template "alerts" .}}

            {{template "pageactions" .}}
   
    </body>
   {{template "footer" .}}
    {{template "scripts" .}}
</html>