<!DOCTYPE html>
<html lang="en">

{{template "head" .}}


<body>
    <form action="/user/edit/{{.User.ID}}" method="POST" id="userForm" class="form">
        {{template "handleform" .}}
        {{template "breadcrumbs" .}}
        <article>
            <hgroup>
                <h2>User Information:</h2>
            </hgroup>
            <div class="form-group" style="display: none;">
                <label>ID</label>
                <input name="id" type="text" value="{{.User.ID}}" readonly />
            </div>

            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" value="{{.User.Username}}" required />
                <input name="id" type="text" class="enrichment" value="{{.User.ID}}" readonly disabled/>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" value="{{.User.Name}}" required/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="text" value="{{.User.Email}}" required/>
            </div>
            <div class="form-group">
                <label>Weight System</label>
                <select name="fweight_system_select" aria-label="Weight System" required>
                    {{range .WeightSystemLookup.Data}}
                    <option value='{{.Key}}' {{if .Selected}}selected{{end}}>{{.Value}}</option>
                    {{end}}
                </select>
                <input name="weight_system_raw" type="text" value="{{.WeightSystemSelected.Value}}" class="enrichment" readonly disabled />
            </div>
            <div class="form-group">
                <label>Height System</label>
                <select name="fheight_system_select" aria-label="Height System" required>
                    {{range .HeightSystemLookup.Data}}
                    <option value='{{.Key}}' {{if .Selected}}selected{{end}}>{{.Value}}</option>
                    {{end}}
                </select>
                <input name="height_system_raw" type="text" value="{{.HeightSystemSelected.Value}}" class="enrichment" readonly disabled />
            </div>
            <div class="form-group">
                <label>Locale</label>
                <select name="flocale_select" aria-label="Locale" required>
                    {{range .Locales.Data}}
                    <option value='{{.Key}}' {{if .Selected}}selected{{end}}>{{.Value}}</option>
                    {{end}}
                </select>
                <input name="locale_raw" type="text" value="{{.Context.UserLocale}}" class="enrichment" readonly disabled />
            </div>
            <div class="form-group">
                <label>Height</label>
                <input name="height" type="number" value="{{.Baseline.Height.CMs}}" required/>
                <input name="height_raw" type="text" value="{{.HeightSystemSelected.Value}}" class="enrichment" readonly disabled />
            </div>
            <div class="form-group">
                <label>Projection Period</label>
                <input name="projection_period" type="text" value="{{.Baseline.ProjectionPeriod}}" required />
                <input name="projection_period_raw" type="text" value="months" class="enrichment" readonly disabled />
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <input name="date_of_birth" type="text" value='{{.Baseline.DateOfBirth.Format "02 Jan 2006"}}' required />
            </div>
            <div class="form-group" {{if .Context.Workflow.IsNew}}style="display: none;"{{end}}>
                <label>Pivot Date</label>
                <input name="pivot_date" type="text" value='{{.Baseline.PivotDate.Format "02 Jan 2006"}}' readonly disabled/>
                <input name="pivot_date_raw" type="text" value='{{.Baseline.PivotDate.Format "Monday"}}. Reminders sent on a {{.ReminderDate.Format "Monday"}}.' class="enrichment" readonly disabled />
            </div>
            <div class="form-group">
                <label>Note</label>
                <textarea name="note">{{.Baseline.Note}}</textarea>
            </div>
        </article>
        {{template "chart" .}}
        {{template "alerts" .}}
        {{template "actions" .Context.PageActions}}
    </form>
</body>
{{template "footer" .}}
{{template "scripts" .}}

</html>