// Import the Base css
@import url("/pico.css/pico.fluid.classless.red.min.css"); /* Fluid classless Pico CSS */
@import url("/pico.css/pico.colors.min.css");// Override Primary Colour

/* Custom CSS */
.danger-msg {
  background-color: var(--pico-color-red-150)
;
  border-left: 10px solid var(--pico-color-red-800);
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-color-red-800)!important;
}

p.danger-msg {
  background-color: var(--pico-color-red-150)
;
  border-left: 10px solid var(--pico-color-red-800);
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-color-red-800)!important;
}
section.danger-msg {
  background-color: var(--pico-color-red-150);
  border-left: 10px solid var(--pico-color-red-800);
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-color-red-800)!important;
}
.information-msg {
  background-color: var(--pico-color-cyan-50);
  border-left: 10px solid var(--pico-color-cyan-800);
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-color-cyan-800)!important;
}

.success-msg {
  background-color: var(--pico-color-green-50);
  border-left: 10px solid var(--pico-color-green-800);
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-color-green-800)!important;
}

.warning-msg {
  background-color: var(--pico-color-amber-150);
  border-left: 10px solid var(--pico-color-amber-800);
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-color-amber-800)!important;
}

.light-msg {
  background-color: #f8f9fa;
  border-left: 10px solid #6c757d;
  padding: 10px;
  border-radius: 5px;
  color: #6c757d;
}

.dark-msg {
  background-color: #343a40;
  border-left: 10px solid #212529;
  padding: 10px;
  border-radius: 5px;
  color: #f8f9fa;
}

.primary-msg {
  background-color: var(--pico-text-selection-color) !important;
  border-left: 10px solid var(--pico-primary) !important;
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-primary) !important;
}

.secondary-msg {
    background-color: var(--pico-secondary-focus) !important;
    border-left: 10px solid var(--pico-secondary) !important;
    padding: 10px;
    border-radius: 5px;
    color: var(--pico-secondary) !important;
}

body {
    width: 100% !important;
    padding: 50px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 10rem auto !important;
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}

.secondary-btn {
    border: 1px solid var(--pico-primary) !important;
    background-color: var(--pico-pico-mark-background-color) !important;
    color: var(--pico-primary) !important;
}


.hidden-btn {
    border: 0px solid var(--pico-grey-300) !important;
    background-color: var(--pico-pico-mark-background-color) !important;
    color: var(--pico-color-grey-200) !important;
}


h1 {
    color: var(--pico-primary) !important;
}

h2 {
    color: var(--pico-secondary) !important;
}



{{/* .js-plotly-plot .plotly .modebar-btn.active {
    color: var(--pico-primary) !important;
    background-color: blue !important;
    font-size: 2em !important;
} */}}

.js-plotly-plot .plotly .modebar-btn svg {
    font-size: 1.5em !important;
}

element.style {
       fill: var(--pico-primary) !important;
        background-color: var(--pico-primary) !important;
}




.js-plotly-plot .plotly .modebar-btn svg.icon path{
    fill: var(--pico-primary) !important;
    opacity: 2.0 !important;
}

.js-plotly-plot .plotly .modebar-btn.active svg.icon path {
    fill: var(--pico-primary) !important;
    filter: brightness(1.5) !important;
}




.js-plotly-plot .plotly, .js-plotly-plot .plotly div {

    background-color: transparent !important;
    
}



input:not([type=checkbox],[type=radio],[type=range]), select, textarea {
    padding: 0.5rem !important;
    padding-top: 0 !important;
    padding-bottom: 0rem !important;
    width: 20rem !important;
    height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 1 + var(--pico-border-width) * 2)!important;
}

label {
    width: 10rem!important;
    padding-left: 0 !important;
    padding-right: 1rem !important;
    margin:  0 !important;
    display: inline-flex !important;
    text-align: left !important;
    align-items: center !important;
}

select {
    width: 20rem !important;
    {{/* height: var(--pico-line-height) !important; */}}
    height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
}

span.primary{
color: var(--pico-primary) !important;
}

