// Import the Base css
@import url("/pico.css/pico.fluid.classless.red.min.css"); /* Fluid classless Pico CSS */
@import url("/pico.css/pico.colors.min.css");// Override Primary Colour

.h1 {
  text-align: center;
  color: var(--primary);
}

.danger-msg {
  background-color: #f8d7da;
  border-left: 10px solid #721c24;
  padding: 10px;
  border-radius: 5px;
  color: #721c24;
}

.information-msg {
  background-color: #d1ecf1;
  border-left: 10px solid #0c5460;
  padding: 10px;
  border-radius: 5px;
  color: #0c5460;
}

.success-msg {
  background-color: #d4edda;
  border-left: 10px solid #155724;
  padding: 10px;
  border-radius: 5px;
  color: #155724;
}

.warning-msg {
  background-color: #fff3cd;
  border-left: 10px solid #856404;
  padding: 10px;
  border-radius: 5px;
  color: #856404;
}

.light-msg {
  background-color: #f8f9fa;
  border-left: 10px solid #6c757d;
  padding: 10px;
  border-radius: 5px;
  color: #6c757d;
}

.dark-msg {
  background-color: #343a40;
  border-left: 10px solid #212529;
  padding: 10px;
  border-radius: 5px;
  color: #f8f9fa;
}

.primary-msg {
  background-color: var(--pico-text-selection-color) !important;
  border-left: 10px solid var(--pico-primary) !important;
  padding: 10px;
  border-radius: 5px;
  color: var(--pico-primary) !important;
}

body {
    width: 100%;
    margin: 0;
    padding: 20px; margin: 10px;
}

.secondary-btn {
    border: 1px solid var(--pico-primary) !important;
    background-color: var(--pico-pico-mark-background-color) !important;
    color: var(--pico-primary) !important;
}

h1 {
    color: var(--pico-primary) !important;
}

h2 {
    color: var(--pico-secondary) !important;
}



{{/* .js-plotly-plot .plotly .modebar-btn.active {
    color: var(--pico-primary) !important;
    background-color: blue !important;
    font-size: 2em !important;
} */}}

.js-plotly-plot .plotly .modebar-btn svg {
    font-size: 1.5em !important;
}

element.style {
       fill: var(--pico-primary) !important;
        background-color: var(--pico-primary) !important;
}




.js-plotly-plot .plotly .modebar-btn svg.icon path{
    fill: var(--pico-primary) !important;
    opacity: 2.0 !important;
}

.js-plotly-plot .plotly .modebar-btn.active svg.icon path {
    fill: var(--pico-primary) !important;
    filter: brightness(1.5) !important;
}




.js-plotly-plot .plotly, .js-plotly-plot .plotly div {

    background-color: transparent !important;
    
}







input:not([type=checkbox],[type=radio],[type=range]), select, textarea {
    padding: 0.5rem !important;
    width: 20rem !important;
}

label {
    width: 10rem!important;
    padding-left: 0 !important;
    padding-right: 1rem !important;
    margin:  0 !important;
    display: inline-flex !important;
    text-align: left !important;
    align-items: center !important;
}

select {
    width: 20rem !important;
    {{/* height: var(--pico-line-height) !important; */}}
    height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
}

